# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/uploads/

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# Firebase Service Account Credentials
notificationpush-49ee8-firebase-adminsdk-uhabt-1c9800d045.json
cred.go.json


# System files
.DS_Store
Thumbs.db

# Package lock
package-lock.json
yarn.lock

# Editor files
.idea/
.vscode/
*.swp
*.swo
